<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Laboratorio de Aplicaciones Web" />
    <link rel="stylesheet" href="/static/css/game.css">
</head>

<body onload="startGame()" align="center">
    <section id="sect1" class="sect">
        <video src="../static/assets/base.mp4" autoplay="true" muted="true" loop="true"
            poster=""></video>
        <br>
        <h1>Block Hopper</h1>

</body>

</html>
<script src="/static/js/game.js"></script>